In [2]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [3]:
import mpld3
mpld3.enable_notebook()
import matplotlib.pyplot as plt
from src import measure_repository
from src import repository_adapter
from matplotlib.dates import  DateFormatter
from matplotlib.dates import YearLocator
from scipy.ndimage import gaussian_filter
import numpy as np

# What kind of data do we have

In [10]:
result = repository_adapter.run_sql(
    """ SHOW TABLES
        ;
        ;""",
    ["Tables_in_air"]
)
print(result)
print('')

result = repository_adapter.run_sql(
    """ SELECT *
        FROM air.air_metering_points
        ;
        ;""",
    ["id", "name"]
)
print(result)
print('')

result = repository_adapter.run_sql(
    """ SELECT *
        FROM air.air_quality_measures
        
        ORDER BY date ASC LIMIT 100;
        ;""",
    ["id", "measure_type", "date", "result", "metering_point_id"]
)
print(result)

          Tables_in_air
0   air_metering_points
1  air_quality_measures
2               weather

    id             name
0    1     DsJelGorOgin
1    2     DsWrocAlWisn
2    3     DsWrocWybCon
3    4     KpBydPlPozna
4    5     KpBydWarszaw
5    6     KpToruDziewu
6    7     LbLubObywate
7    8     LdLodzCzerni
8    9     LdLodzGdansk
9   10     LdZgieMielcz
10  11     LuZielKrotka
11  12     MpKrakAlKras
12  13     MpKrakBujaka
13  14     MpKrakBulwar
14  15     MpTarRoSitko
15  16      MzKonJezMos
16  17     MzLegZegrzyn
17  18     MzOtwoBrzozo
18  19     MzPiasPulask
19  20     MzPlocMiReja
20  21     MzRadTochter
21  22     MzSiedKonars
22  23     MzWarAlNiepo
23  24     MzWarKondrat
24  25     MzWarMarszal
25  26     MzWarWokalna
26  27     MzZyraRoosev
27  28     OpKKozBSmial
28  29  PdAugustoZdrMOB
29  30     PdBialWaszyn
30  31  PdHajnowkJagMOB
31  32     PdSuwPulaski
32  33     PkMielBierna
33  34     PkMielSolski
34  35     PkPrzemGrunw
35  36     PkRymZdrPark
36  37     PmGdaLeczk08
37  38     PmKosTargo12
38  39     SkKielJagiel
39  40     SkMalo11List
40  41     SkPolaRuszcz
41  42     SlGliwicMewy
42  43     SlKatoKossut
43  44     SlZlotPotLes
44  45     WmOlsPuszkin
45  46     WpKaliSawick
46  47     WpPoznPolank
47  48     ZpSzczAndr01
48  49     ZpSzczPils02

     id measure_type                 date   result metering_point_id
0     1          666  2015-01-01 01:00:00  151.000                 1
1     2          666  2015-01-01 01:00:00   78.000                 2
2     3          666  2015-01-01 01:00:00   50.000                 3
3     4          666  2015-01-01 01:00:00   29.000                 4
4     5          666  2015-01-01 01:00:00   96.000                 5
5     6          666  2015-01-01 01:00:00   27.000                 6
6     7          666  2015-01-01 01:00:00   71.000                 7
7     8          666  2015-01-01 01:00:00   60.000                 8
8     9          666  2015-01-01 01:00:00     None                 9
9    10          666  2015-01-01 01:00:00   59.000                10
10   11          666  2015-01-01 01:00:00     None                11
11   12          666  2015-01-01 01:00:00   73.000                12
12   13          666  2015-01-01 01:00:00   88.000                13
13   14          666  2015-01-01 01:00:00   58.000                14
14   15          666  2015-01-01 01:00:00   50.000                17
15   16          666  2015-01-01 01:00:00   54.000                19
16   17          666  2015-01-01 01:00:00   47.000                20
17   18          666  2015-01-01 01:00:00   55.000                21
18   19          666  2015-01-01 01:00:00   44.000                22
19   20          666  2015-01-01 01:00:00   72.000                23
20   21          666  2015-01-01 01:00:00   78.000                24
21   22          666  2015-01-01 01:00:00   69.000                26
22   23          666  2015-01-01 01:00:00   86.000                27
23   24          666  2015-01-01 01:00:00   43.000                28
24   25          666  2015-01-01 01:00:00   67.000                30
25   26          666  2015-01-01 01:00:00     None                31
26   27          666  2015-01-01 01:00:00   29.000                32
27   28          666  2015-01-01 01:00:00   56.000                34
28   29          666  2015-01-01 01:00:00   19.000                35
29   30          666  2015-01-01 01:00:00     None                37
..  ...          ...                  ...      ...               ...
70   71          666  2015-01-01 02:00:00   16.000                35
71   72          666  2015-01-01 02:00:00   76.000                37
72   73          666  2015-01-01 02:00:00     None                38
73   74          666  2015-01-01 02:00:00   62.000                39
74   75          666  2015-01-01 02:00:00   34.000                40
75   76          666  2015-01-01 02:00:00   57.000                41
76   77          666  2015-01-01 02:00:00   50.000                42
77   78          666  2015-01-01 02:00:00   38.000                43
78   79          666  2015-01-01 02:00:00   46.000                44
79   80          666  2015-01-01 02:00:00   50.000                45
80   81          666  2015-01-01 02:00:00   33.000                46
81   82          666  2015-01-01 02:00:00   30.000                47
82   83          666  2015-01-01 02:00:00   82.000                48
83   84          666  2015-01-01 02:00:00  215.000                49
84   85          666  2015-01-01 03:00:00  223.000                 1
85   86          666  2015-01-01 03:00:00   27.000                 2
86   87          666  2015-01-01 03:00:00   29.000                 3
87   88          666  2015-01-01 03:00:00    8.000                 4
88   89          666  2015-01-01 03:00:00   24.000                 5
89   90          666  2015-01-01 03:00:00   21.000                 6
90   91          666  2015-01-01 03:00:00   50.000                 7
91   92          666  2015-01-01 03:00:00   54.000                 8
92   93          666  2015-01-01 03:00:00     None                 9
93   94          666  2015-01-01 03:00:00   24.000                10
94   95          666  2015-01-01 03:00:00   16.000                11
95   96          666  2015-01-01 03:00:00   61.000                12
96   97          666  2015-01-01 03:00:00   50.000                13
97   98          666  2015-01-01 03:00:00   48.000                14
98   99          666  2015-01-01 03:00:00   43.000                17
99  100          666  2015-01-01 03:00:00   48.000                19

[100 rows x 5 columns]

# How much data do we have

In [11]:
result = repository_adapter.run_sql(
    """ SELECT  count(*) as value
        FROM air.air_quality_measures
        ;
        ;""",
    ["value"]
)
print('Sumaryczna ilosc pomiarow dla wszystkich punktow pomiarowych')
print(result)
print('')

Sumaryczna ilosc pomiarow dla wszystkich punktow pomiarowych
     value
0  1148592

In [12]:
result = repository_adapter.run_sql(
    """ SELECT  metering_point_id, count(*) as value
        FROM air.air_quality_measures
        GROUP BY metering_point_id
        ;
        ;""",
    ["metering_point_id", "value"]
)
print('Sumaryczna ilosc pomiarow per punkt pomiarowy')
print(result)
print('')

Sumaryczna ilosc pomiarow per punkt pomiarowy
    metering_point_id  value
0                   1  26304
1                   2  26304
2                   3  26304
3                   4  26304
4                   5  26304
5                   6  26304
6                   7  26304
7                   8  26304
8                   9  26304
9                  10  26304
10                 11  26304
11                 12  26304
12                 13  26304
13                 14  26304
14                 15   8760
15                 16   8760
16                 17  26304
17                 18   8760
18                 19  26304
19                 20  26304
20                 21  26304
21                 22  26304
22                 23  26304
23                 24  17544
24                 25  17544
25                 26  26304
26                 27  26304
27                 28  26304
28                 29   8760
29                 30  26304
30                 31  17544
31                 32  26304
32                 33   8760
33                 34  17544
34                 35  26304
35                 36   8760
36                 37  26304
37                 38  26304
38                 39  26304
39                 40  26304
40                 41  26304
41                 42  26304
42                 43  26304
43                 44  26304
44                 45  26304
45                 46  26304
46                 47  26304
47                 48  26304
48                 49  26304